<h2>New celebrity</h2>
<form method="POST" action="/celebs/create">
  <label>
    name
    <input type="text" name="name" />
  </label>
  <label>
    occupation
    <input type="text" name="occupation" />
  </label>
  <label>
    catch Phrase
    <input type="text" name="catchPhrase" />
  </label>
  <button type="submit">Submit</button>
</form>
